.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background: #cccccc;
    margin: 20px;
    padding: 20px;
    perspective: 800px;
}

.element
{
    position: relative;
    width: 200px;
    height: 200px;
    background: orange;
    margin-left: auto;
    margin-right: auto;
}

.transition
{
    transform: translateX(0);

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(1, 1.14, 0.81,-0.39);
    transition-delay: 0s;

    /* transition: transform 1s ease-out; */

    will-change: transform;
}

.container:hover .transition
{
    transform: translateX(200px);
}

.animation
{
    animation-name: coucou-toto;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-play-state: paused;
    animation-fill-mode: both;

    /* animation: coucou-toto 2s; */
}

.container:hover .animation
{
    animation-play-state: running;
}

@keyframes coucou-toto
{
    0%   { left: 0px;   }
    50%  { left: 500px; }
    70%  { left: 300px; background: red; }
    100% { left: 400px; }
}

/**
 * Equalizer
 */
.equalizer
{
    position: relative;
}

.equalizer .bar
{
    position: absolute;
    top: -40px;
    width: 20px;
    height: 80px;
    background: #555555;
    animation-name: equalizer-bar-bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    will-change: transform;
}

.equalizer .bar-1 { left: -60px; animation-delay: 0.4s; }
.equalizer .bar-2 { left: -35px; animation-delay: 0.3s; }
.equalizer .bar-3 { left: -10px; animation-delay: 0.8s; }
.equalizer .bar-4 { left: 15px; animation-delay: 0.1s; }
.equalizer .bar-5 { left: 40px; animation-delay: 0.6s; }

@keyframes equalizer-bar-bounce
{
    0%   { transform: scaleY(0.2); }
    10%  { transform: scaleY(1); }
    100% { transform: scaleY(0.2); }
}

/**
 * Menu
 */
.menu
{
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: 1;
}

.menu .inner
{
    position: absolute;
    top: 0;
    width: 240px;
    height: 100%;
    background: #555555;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
    will-change: transform;
}

.menu.open .inner
{
    transform: translateX(0%);
}

/**
 * Radial menu
 */
.radial-menu
{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.radial-menu .item
{
    position: absolute;
    top: 50%;
    left: 50%;
}

.radial-menu .item .inner
{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
}

.radial-menu .item-1 { transform: rotate(calc(360deg / 6 * 1)); }
.radial-menu .item-2 { transform: rotate(calc(360deg / 6 * 2)); }
.radial-menu .item-3 { transform: rotate(calc(360deg / 6 * 3)); }
.radial-menu .item-4 { transform: rotate(calc(360deg / 6 * 4)); }
.radial-menu .item-5 { transform: rotate(calc(360deg / 6 * 5)); }
.radial-menu .item-6 { transform: rotate(calc(360deg / 6 * 6)); }

.radial-menu:hover .item-1 .inner { transition-delay: 0.0s; }
.radial-menu:hover .item-2 .inner { transition-delay: 0.05s; }
.radial-menu:hover .item-3 .inner { transition-delay: 0.1s; }
.radial-menu:hover .item-4 .inner { transition-delay: 0.15s; }
.radial-menu:hover .item-5 .inner { transition-delay: 0.2s; }
.radial-menu:hover .item-6 .inner { transition-delay: 0.25s; }

.radial-menu .item:not(.item-main) .inner
{
    background: #eeeeee;
    transition-property: transform;
    transition-duration: 0.3s;
    will-change: transform;
}

.radial-menu:hover .item:not(.item-main) .inner
{
    transform: translateX(50px);
}