body
{
    background: #dddddd;
}

.clock
{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(to top, #dddddd, #ffffff);
    transform: translateX(-50%) translateY(-50%);
}

.clock .needle
{
    position: absolute;
    transition: transform 0.3s;
    will-change: transform;
}

.clock .needle.hours
{
    top: calc(50% - 96px);
    left: calc(50% - 4px);
    width: 8px;
    height: 100px;
    background: #a07f7f;
    transform-origin: 50% calc(100% - 4px);
}

.clock .needle.minutes
{
    top: calc(50% - 148px);
    left: calc(50% - 2px);
    width: 4px;
    height: 150px;
    background: #a07f7f;
    transform-origin: 50% calc(100% - 2px);
}

.clock .needle.seconds
{
    top: calc(50% - 149px);
    left: calc(50% - 1px);
    width: 2px;
    height: 150px;
    background: #c50e0e;
    transform-origin: 50% calc(100% - 1px);
}
