{% include 'partials/header.twig' %}

{# Description #}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur recusandae maxime temporibus, iusto assumenda ipsum dolorem quis. Natus deleniti laboriosam vel cumque, nesciunt repellat incidunt officiis cupiditate asperiores dolores. Laborum.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, provident maxime dolor incidunt nostrum, ea eaque repudiandae ipsam excepturi quia vero est. Suscipit maiores fuga repellat aspernatur voluptates soluta distinctio!</p>

{# Links #}
<div>
    <a href="{{ path_for('promotions') }}">Promotions</a>
</div>
<div>
    <a href="{{ path_for('random_student') }}">Random student</a>
</div>

{% include 'partials/footer.twig' %}