.cube-3d
{
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 800px;
}

.cube-3d *
{
    transform-style: preserve-3d;
}

.cube-3d .y-axis
{
    /* animation-name: cube-3d-y-axis-animation; */
    /* animation-iteration-count: infinite; */
    /* animation-timing-function: linear; */
    /* animation-duration: 5s; */

    animation: cube-3d-y-axis-animation infinite linear 5s;
}

@keyframes cube-3d-y-axis-animation
{
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

.cube-3d .x-axis
{
    animation: cube-3d-x-axis-animation infinite linear 6.5s;
}

@keyframes cube-3d-x-axis-animation
{
    0%   { transform: rotateX(0deg); }
    100% { transform: rotateX(360deg); }
}

.cube-3d .face
{
    position: absolute;
    top: -200px;
    left: -200px;
    width: 400px;
    height: 400px;
    opacity: 0.5;
    transition: transform 0.5s cubic-bezier(0.75, 0, 0.25, 1);
    will-change: transform;
}

.cube-3d .face-1 { background: #ff0000; transform: translateZ(200px); }
.cube-3d .face-2 { background: #ffff00; transform: rotateY(90deg) translateZ(200px); }
.cube-3d .face-3 { background: #ff00ff; transform: rotateY(180deg) translateZ(200px); }
.cube-3d .face-4 { background: #00ffff; transform: rotateY(-90deg) translateZ(200px); }
.cube-3d .face-5 { background: #00ff00; transform: rotateX(-90deg) translateZ(200px); }
.cube-3d .face-6 { background: #0000ff; transform: rotateX(90deg) translateZ(200px); }

.cube-3d:hover .y-axis,
.cube-3d:hover .x-axis
{
    animation-play-state: paused;
}
.cube-3d:hover .face-1 { transform: translateZ(300px); }
.cube-3d:hover .face-2 { transform: rotateY(90deg) translateZ(300px); }
.cube-3d:hover .face-3 { transform: rotateY(180deg) translateZ(300px); }
.cube-3d:hover .face-4 { transform: rotateY(-90deg) translateZ(300px); }
.cube-3d:hover .face-5 { transform: rotateX(-90deg) translateZ(300px); }
.cube-3d:hover .face-6 { transform: rotateX(90deg) translateZ(300px); }

