{% include('partials/header.twig') %}

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, accusantium, tempora eaque modi quibusdam nemo ipsa consequuntur unde dolor sed quam ullam aspernatur voluptate temporibus nihil architecto odio assumenda possimus.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nisi deleniti laborum dignissimos labore fuga consectetur, ab nemo corrupti, ut excepturi suscipit necessitatibus veniam asperiores facilis atque. Dignissimos, quis maiores.</p>

<a href="{{ path_for('promotions') }}">Promotions</a>
<br>
<a href="{{ path_for('random_student') }}">Random student</a>

{% include('partials/footer.twig') %}