{% include 'partials/header.twig' %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae placeat eaque obcaecati dolores labore sint praesentium dicta libero, laboriosam mollitia maxime ipsam atque, inventore velit accusantium? Accusamus tenetur ratione facilis.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, minus id. Labore sed magni molestiae deleniti dicta! Omnis neque aut, assumenda rem praesentium inventore minus cumque, dolor atque minima doloremque!</p>

<a href="{{ path_for('promotions') }}">Promotions</a>
<br>
<a href="{{ path_for('random_student') }}">Random student</a>

{% include 'partials/footer.twig' %}