{% include 'partials/header.twig' %}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eaque error, rem ipsum libero itaque autem mollitia et placeat. Dolores vel libero corporis perferendis quo maiores, sequi ratione quam ex.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore veritatis accusamus debitis, expedita ea ipsa consequatur officiis saepe ducimus voluptatibus magnam fugiat reprehenderit illo pariatur aperiam quibusdam, optio soluta veniam?</p>

<a href="{{ path_for('promotions') }}">Promotions</a>
<br>
<a href="{{ path_for('random_student') }}">Random student</a>

{% include 'partials/footer.twig' %}