{% include 'partials/header.twig' %}

<h2>Promotions</h2>

{% for _promotion in promotions %}
    <div>
        <a href="{{ path_for('promotion', { year: _promotion.year }) }}">P{{ _promotion.year }}</a>
    </div>
{% endfor %}

{% include 'partials/footer.twig' %}