@font-face
    font-family Heboo
    src url('../fonts/heboo-bold.woff2') format('woff2')
    font-weight 600

body
    font-family Heboo
    font-weight 600
    background green

.image
    width 500px
    height 300px
    background-image url('../images/image.jpg')