body
{
    padding: 60px;
}

.player .seek
{
    width: 600px;
    height: 20px;
    background: #cccccc;
}

.player .seek .fill
{
    width: 100%;
    height: 100%;
    background: #777777;
    transform-origin: 0 0;
    transform: scaleX(0);
    will-change: transform;
}
